
body {
    /*font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;*/
    font-family: 'Shadows Into Light', cursive;
    color: #fff;
	background-color: #000;
	height: 100%;
}

h1 {
  	display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  	font-size: 50px;
}

h2 {
  	display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  	font-size: 25px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
  	font-size: 15px;
}

img {
	width: 100%;
}

.header {
	/*position: fixed;*/
  	/*padding: 20px;*/
	text-align: center;
	/*top: 0;
	left: 0;*/
	height: 70px;
	overflow: hidden;
	margin: 0;

  	width: 100%;
}

#title {
	position: relative;
	width: 100%;
}

#subTitle {
	position: absolute;
	text-align: center;
	top: 55px;
	color: #0000ff;
	width: 100%;
	transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

.subject {
	text-align: center;
	height: 70px;
	overflow: hidden;
	margin: 0;

  	width: 100%;
}

.leftWindow {
	/*float:left;*/

	width: 100%;
	height: 100%;
	/*width: 240px;
	height: 500px;*/
	padding: 20px;
	
	/*margin-top: 20px;*/
	/*margin-left:10px;*/
	margin:10px 10px 10px 10px;

  	border-style: dotted;
  	border-width: 3px;
  	border-color: #dddddd;
}

.rightWindow {
	/*float:left;*/

	width: 100%;
	height: 100%;
	/*width: 240px;
	height: 500px;*/
	padding: 20px;
	text-align: center;
	
	/*margin-top: 20px;*/
	/*margin-left:10px;*/
	margin:10px 10px 10px 10px;

  	border-style: dotted;
  	border-width: 3px;
  	border-color: #dddddd;
}

#currentWord {
	letter-spacing: 5px;
}

#alreadyGuessed {
	letter-spacing: 5px;
}